/*bassed*/
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
   
    
}

li {
    list-style-type: none;
}
a {
    color: white;
    text-decoration: none;

}
.container {
    width: 1280px;
    margin: 0 auto;
}
/*bassed*/


/**/

input {
    font-weight: 700;
}

 input::placeholder {
    font-weight: 900;
    line-height: 18px;
    letter-spacing: -0.04em;
}

/**/



.tittle h1 {
    font-weight: 700;
    font-size: 70px;
    line-height: 85px;
    letter-spacing: -0.04em;
    position: relative;
    left: 126px;
    top: 168px;
    color: #C9C9C9;
}



/**/
.bron {
    width: 1135px;
    height: 916px;
    background: #3A3A3A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 150px;
    
}
.bron_area {
   
    margin: 0 auto;
    width: 660px;
    height: 150px;
}
.bron_area_name {
    padding-top: 79px;
}
.bron_area_name span {
    font-size: 23px;
    line-height: 28px;
    letter-spacing: -0.04em;
    color: #C9C9C9;
}

.bron_area_name span:nth-child(2) {
    display: inline-block;
    margin-left: 301px;
}
.bron_area_input-name {
    display: flex;
    justify-content: space-between;
}
.bron_area_input-name input {
    width: 293px;
    height: 40px;
    background: #D9D9D9;
    border-radius: 5px;
    padding-left: 17px;
    display: block;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    border: none;
}
.bron_area-email {
    margin-top: 25px;
}
.bron_area-email span {
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
    letter-spacing: -0.04em;
    color: #C9C9C9;
}
.bron_area_input_email input {
    border: none;
    background: #D9D9D9;
    border-radius: 5px;
    width: 450px;
    height: 40px;

    font-size: 15px;
    padding-left: 17px;
    font-weight: 700;
}
input::placeholder {
    color: rgba(0, 0, 0, 0.2);
}
.bron_area-phone {
    margin-top: 25px;
}


.bron_area-phone span {
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
    letter-spacing: -0.04em;
    color: #C9C9C9;
}
.bron_area_input-phone input {
    border: none;
    background: #D9D9D9;
    border-radius: 5px;
    width: 450px;
    height: 40px;

    font-size: 15px;
    padding-left: 17px;
    font-weight: 700;

}
.bron_area_date_bron_text {
    margin-top: 25px;
}
.bron_area_date_bron_text span {
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
    letter-spacing: -0.04em;
    color: #C9C9C9;
}
.bron_area_date_broning {
    display: flex;
}
.bron_area_date_bron_text span:nth-child(2) {
    margin-left: 112px;
}


.bron_area_date_broning-date input:nth-child(1) {
    background: #D9D9D9;
    border-radius: 5px;
    width: 75px;
    height: 40px;
    border: none;
    text-align: center;

}
.bron_area_date_broning input::placeholder {
    text-align: center;
}
.bron_area_date_broning-date input:nth-child(2) {
    background: #D9D9D9;
    border-radius: 5px;
    width: 75px;
    height: 40px;
    border: none;
    margin-left: 10px;
    text-align: center;
}
.bron_area_date_broning-date input:nth-child(3) {
    background: #D9D9D9;
    border-radius: 5px;
    width: 129px;
    height: 40px;
    border: none;
    margin-left: 10px;
    text-align: center;
}
.bron_area_date_broning-time input:nth-child(1) {
    background: #D9D9D9;
    border-radius: 5px;
    border: none;
    width: 29px;
    height: 40px;
    font-weight: 700;
    margin-left: 43px;
    text-align: center;
}
.bron_area_date_broning-time input:nth-child(3) {
    background: #D9D9D9;
    border-radius: 5px;
    border: none;
    width: 29px;
    height: 40px;
    text-align: center;
}

/*dots*/


#dots {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 3px;
}

.bron_area_date_broning-time div svg:nth-child(1){
    position: relative;
    left: 0px;
    top: -3px;
}

.bron_area_date_broning-time div svg:nth-child(2){
    position: relative;
    left: 0px;
    top: 3px;
}
/*dots*/

.bron_area_date_broning-time button{
    width: 29px;
    height: 40px;
    background: #D9D9D9;
    border-radius: 5px;
    border: none;
    cursor: pointer;

    color: rgba(0, 0, 0, 0.4);
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.04em;
    margin-left: 7px;
}


.bron_area_date_broning-time {
    display: flex;
}


.bron_area-pers p {
    color: #C9C9C9;
    letter-spacing: -0.04em;
    font-size: 23px;
    margin-top: 25px;
}
.bron_area-pers input {
    background: #D9D9D9;
    border-radius: 5px;
    width: 75px;
    height: 40px;
    border: none;
    text-align: center;
}
.bron_area-pers input::placeholder {
    text-align: center;
}

.bron_area-text-area p {
    letter-spacing: -0.04em;
    font-size: 23px;
    color: #C9C9C9;
    margin-top: 25px;

}
.bron_area-text-area textarea {
    resize: none;
    border: none;
    background: #D9D9D9;
    border-radius: 5px;
    width: 660px;
    height: 152px;
    font-weight: 900;
    font-size: 23px;
    padding-left: 10px;
    padding-top: 10px;
}
#bron_area-link {
    display: inline-block;
    letter-spacing: -0.04em;
    color: #3A3A3A;
    background: #D9D9D9;
    border-radius: 30px;
    margin-top: 45px;
    width: 286px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}



